@{
    ViewData["Teste"] = "Index";
}
<h1>Index do carrinho</h1>
<button>
    <a class="nav-link text-dark" asp-area="" asp-controller="CarrinhoCompra" asp-action="Create">Carrinho Create</a>
</button>

