

<form>
<div class="col">
    <a class="nav-link text-dark" asp-controller="Produto" asp-action="Create">Crie um produto</a>
</div>

<div class="col">
    <a class="nav-link text-dark" asp-controller="Produto" asp-action="Edit">Edite um produto</a>
</div>

<div class="col">
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Entrar</a>
</div>

<div class="col">
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Entrar</a>
</div>
</form>



@*<div align="center" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form style="width:300px; height: 800px">
        <div class="row">
            <a asp-controller="Produto" asp-action="Create" placeholder="Criar Produto" type="text" id="form2Example1" class="form-control"> </a>
        </div>

        <div class="form-outline mb-4">
            <input placeholder="Idade" type="number" id="form2Example2" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <input placeholder="Data de Nascimento" type="date" id="form2Example2" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <input placeholder="CPF" type="number" id="form2Example2" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <input placeholder="Email" type="email" id="form2Example2" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <input placeholder="Endereço" type="text" id="form2Example2" class="form-control" />
        </div>

        <button type="submit" style="width:100%;margin-top:15px" class="btn btn-primary btn-block mb-4">Registrar</button>

    </form>
</div>*@






























@*<h1>Cadastrar Cliente</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <label asp-for="NomeCompleto" class="control-label"></label>
            <input asp-for="NomeCompleto" class="form-control" />

            <label asp-for="Idade" class="control-label"></label>
            <input asp-for="Idade" class="form-control" />

            <input type="submit" value="Cadastrar" class="btn btn-primary" />
            <a asp-controller="Produto" asp-action="Detail">aaaaaaa</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>*@