
<div align="center" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form style="width:300px; height: 800px">
        <div class="form-outline mb-2">
            <button asp-controller="Produto" asp-action="Index" type="submit" style="width:100%" class="btn btn-primary btn-block mb-2">Produtos</button>
        </div>

        <div class="form-outline mb-2">
            <button asp-controller="Cliente" asp-action="Index" type="submit" style="width:100%" class="btn btn-primary btn-block mb-2">Clientes</button>
        </div>

    </form>
</div>






























@*<h1>Cadastrar Cliente</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <label asp-for="NomeCompleto" class="control-label"></label>
            <input asp-for="NomeCompleto" class="form-control" />

            <label asp-for="Idade" class="control-label"></label>
            <input asp-for="Idade" class="form-control" />

            <input type="submit" value="Cadastrar" class="btn btn-primary" />
            <a asp-controller="Produto" asp-action="Detail">aaaaaaa</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>*@