
@{
    ViewData["Title"] = "Index";
}




<h1>Tabela de Clientes</h1>
  
 
<table border="1">
    
   
<tr>
      
     
<th>ID</th>
      
     
<th>Nome</th>
      
     
<th>Email</th>
      
     
<th>Telefone</th>
    
   
</tr>
    
   
<tr>
      
     
<td>1</td>
      
     
<td>Cliente 1</td>
      
     
<td>cliente1@example.com</td>
      
      <

     
<td>(11) 98765-4321</td>
    
   
</tr>
    
   
<tr>
      
     
<td>2</td>
      
     
<td>Cliente 2</td>
      
     
<td>cliente2@example.com</td>
      
      <

     
<td>(22) 98765-4321</td>
    
   
</tr>
    
   
<tr>
      
     
<td>3</td>
      
     
<td>Cliente 3</td>
      
     
<td>cliente3@example.com</td>
      
      <

     
<td>(33) 98765-4321</td>
    
   
</tr>
  
 
</table>



