@model eCommerce.Domain.Produto

@{
    ViewData["Title"] = Model.Nome;
}

<div id="box">
    <div id="title">
        <h1>Nome do Produto</h1>
    </div>
    <div id="img">

    </div>
    <div id="desricao">
        <div id="valor">

        </div>
       
    </div>
</div>
