@model eCommerce.Domain.Cliente

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar Cliente</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <label asp-for="NomeCompleto" class="control-label"></label>
            <input asp-for="NomeCompleto" class="form-control" />

            <label asp-for="Idade" class="control-label"></label>
            <input asp-for="Idade" class="form-control" />

            <input type="submit" value="Cadastrar" class="btn btn-primary" />
            <a asp-controller="Produto" asp-action="Detail">aaaaaaa</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>