
@{
    ViewData["Title"] = "Index";
}




<h1>Tabela de Clientes</h1>
  
 
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Clientes</th>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Pedro</td>
            <td>##########</td>
            <td>pedro@gmail.com</td>
            <td>
                <button>
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
                <button>
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
            </td>
            <td>
                
            </td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Gabe</td>
            <td>##########</td>
            <td>gabe@gmail.com</td>
            <td>
                <button>
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
                <button>
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Ferna</td>
            <td>##########</td>
            <td>ferna@gmail.com</td>
            <td>
                <button>
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
                <button>
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Xande</td>
            <td>##########</td>
            <td>xande@gmail.com</td>
            <td>
                <button>
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
                <button>
                    <a class="nav-link text-dark" asp-area=""  asp-controller="Cliente" asp-action="Edit">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>
                   
                   
                </button>
            </td>
        </tr>
    </tbody>
</table>





