@model eCommerce.Domain.Cliente


<div align="center" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form style="width:300px; height: 400px" asp-action="Create">
        <h5>Recuperação de Senha</h5>
        <div class="form-outline mb-4">
            <input asp-for="Email" placeholder="Email" type="email" id="form2Example1" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <input asp-for="CPF" placeholder="CPF" type="number" id="form2Example1" class="form-control" />
        </div>
      
        <button id="forgetbutton" type="button" style="width:100%;margin-top:15px" class="btn btn-primary btn-block mb-4">Recuperar</button>

        <div id="forgetdiv" style="display:none;">
            <script>
                const forgetbutton = document.getElementById('forgetbutton');
                const forgetdiv = document.getElementById('forgetdiv');
                forgetbutton.addEventListener('click', function () {
                    forgetdiv.style.display = 'block';
                });
            </script>
            Foi enviado um formulário para alteração de senha no seu email
        </div>

    </form>
</div>