@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">eCommerce dos cria</h1>
</div>*@

<body class="background-color">
    <style>
        .background-color {
            background-color:
        }
    </style>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <form class="form-inline">
            <div class="row">
                <div class="col-9">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar Produtos" aria-label="Pesquisar">
                </div>
                <div class="col-3">
                    <button class="btn btn-default my-2 my-sm-1" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</nav>
</body>